.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #5c2453;
    color:white;
    height:17px;
    width:100%;
    font-size: 12px;
}