.container{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    height: 120px;
    z-index: 10;
    width: 100%;
}

.logodiv{
    display: flex;
    align-items: center;
    width:8px;
    height:10px;
}

.linksdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin-left: 60px;
}
.nav {
    text-decoration: none;
    color:#9ea0a2;
    cursor: pointer;
}

.nav:hover{
    color: #5c2453;
    text-decoration: underline;
    text-decoration-color: #e51990;
    text-underline-offset: 3px;
}

.actiondiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.jobsearch{
    border: none;
    border-radius: 5px;
    color:white;
    background-color: #5c2453;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
    cursor: pointer;

}

.register{
    border: none;
    border-radius: 5px;
    color:white;
    background-color: #e51990;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
    cursor: pointer;

}

.enquire{
    border: none;
    border-radius: 5px;
    color:white;
    background-color: #9ea0a2;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
    cursor: pointer;

}

.socialdiv{
    display: flex;
    align-items: center;
    width: 10%;
    margin: 0;
}

.soc{
    cursor: pointer;
    margin: 4px;
}