.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}


.image{
    background-image: url('/homeWall.png');
    width: 100%;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    position:relative;
    top: 55%;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    margin-left: 200px;
    transform: translateY(40%);
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c2453;
    width: 100%;
    max-width: 100%;
    color: white;
    padding: 0;
    margin:0;
    height: 84px;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ea0a2;
    height:48px;
    width: 180px;
    color: white;
    padding:0;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.searchbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c2453;
    color:white;
    border:0.8px solid white;
    border-radius: 5px;
    font-weight: bold;
    height:48px;
    width:128px;
    cursor: pointer;
}

.aboutus{
    display:flex;
    flex-direction: column;
    height: 470px;
}

.aboutlogo{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    color: #9ea0a2;
    padding: 0;
    margin:15px;
    margin-top:40px;
    margin-bottom: 0;
    margin-left: 0;
    height: 80px;
    font-weight: bold;
}

.aboutimg{
    margin-right: 5px;
    
}

.abouttext{
    display: flex;
    justify-content: left;
    color:#5b6871;
    margin-top: 0px;
    font-size: 20px;
    line-height: 1.5;
}

.jobsearch{
    display: flex;
    flex-direction: column;
    height: 470px;
    width:100%;
    max-width: 100%;
    background-color: #5c2453;
}

.jobsearchkey{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #9ea0a2;
    padding: 0;
    margin-top:10px;
    margin-bottom: 0;
    height: 80px;
    font-weight: bold;
}

.keyw{
    display: flex;
    align-items: center;
    flex-direction: row;
    width:50%; 
    justify-content: right;   
}

.keywordtxt{
    display: flex;
    color:#5b6871;
    font-size: 20px;
    line-height: 1.5;
    margin-right: 20px;
}

.jobstext{
    margin-left: 170px;
    color:white;
    font-size: 25px;

}
.jobsearchlogo{
    width:50%;
}
.keylogo{
    margin-right: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.jobsearchlist{
    display: flex;
    flex-direction: row;
}

.category{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 170px;
}

.salary{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.salarytxt{
    display: flex;
    color:#5b6871;
    font-size: 20px;
    line-height: 1.5;
    margin-right: 20px;
}

.salarybutton{
    justify-content: left;
    border: none;
    border-radius: 5px;
    color:white;
    background-color: #e51990;
    font-weight: bold;
    padding: 12px;
    font-size: 14px;
    margin-top:20px;
    cursor: pointer;
    width:90px;

}

.salarylistitem{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color:white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ulitem{
    color:white;
}